@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: 'Source Sans 3', ui-sans-serif, system-ui, sans-serif;
  background-color: #f2f6fb;
  color: #0a2945;
}

* {
  box-sizing: border-box;
}
